<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.school.classinfo.mapper.CustomerCompanyMapper">
  <resultMap id="BaseResultMap" type="cn.com.school.classinfo.model.CustomerCompany">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tenant_id" jdbcType="INTEGER" property="tenantId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="social_code" jdbcType="VARCHAR" property="socialCode" />
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
  </resultMap>
  <resultMap id="VoResultMap" type="cn.com.school.classinfo.vo.CustomerCompanyVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tenant_id" jdbcType="INTEGER" property="tenantId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="social_code" jdbcType="VARCHAR" property="socialCode" />
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tenant_id, name, province_code, province_name, city_code,
    city_name, address,category_id, social_code,
    business_license, contact, contact_number, email, fax,
    department, position, create_time, create_by, create_name,
    update_time, update_by,update_name
  </sql>
  <sql id="Vo_Column_List">
    company.id, company.tenant_id, company.name, company.province_code, company.province_name, company.city_code,
    company.city_name, company.address,company.category_id, category.name category_name, company.social_code,
    company.business_license, company.contact, company.contact_number, company.email, company.fax,
    company.department, company.position, company.create_time, company.create_by, company.create_name,
    company.update_time, company.update_by,company.update_name
  </sql>
  <sql id="Simple_Column_List">
    id, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_company
    where id = #{id,jdbcType=INTEGER}
      and del = 0
  </select>
  <select id="selectByName" parameterType="cn.com.school.classinfo.common.query.CustomerCompanyQuery" resultMap="BaseResultMap">
    select
    <include refid="Simple_Column_List" />
    from customer_company
    where name = #{companyName}
      and tenant_id = #{tenantId}
      and del = 0
  </select>
  <select id="selectAllByQuery" parameterType="cn.com.school.classinfo.common.query.CustomerCompanyQuery" resultMap="BaseResultMap">
    select
    <include refid="Simple_Column_List" />
    from customer_company
    where tenant_id = #{tenantId}
      and del = 0
      order by update_by desc
  </select>
  
  <select id="selectNoCreatedUserByQuery" resultMap="BaseResultMap">
    select
    <include refid="Simple_Column_List" />
	from customer_company a
	where del = 0  
	and tenant_id = #{tenantId}
	and 
	not EXISTS (select customer_company_id from sys_user b where b.user_type=2 
	               and b.`status` BETWEEN 0 and 1 and a.id = b.customer_company_id)
    order by update_by desc
  </select>
  
  <select id="selectByFilter" parameterType="cn.com.school.classinfo.common.query.CustomerCompanyQuery" resultMap="BaseResultMap">
    select
    <include refid="Simple_Column_List" />
    from customer_company c
    where tenant_id = #{tenantId}
      and del = 0
      and not exists (select company_id
                      from customer_domain cc
                      where c.id = cc.company_id)
  </select>
  <select id="selectByQuery" parameterType="cn.com.school.classinfo.common.query.CustomerCompanyQuery" resultMap="VoResultMap">
    select
    <include refid="Vo_Column_List" />
    from customer_company company
    left join customer_category category
    on company.category_id = category.id
    where company.tenant_id = #{tenantId}
      and company.del = 0
      <if test="companyName != null">
        and company.name like CONCAT('%',#{companyName},'%')
      </if>
      <if test="contact != null">
        and company.contact like CONCAT('%',#{contact},'%')
      </if>
      <if test="categoryId != null">
        and company.category_id = #{categoryId}
      </if>
      <if test="provinceCode != null">
        and company.province_code = #{provinceCode}
      </if>
      <if test="cityCode != null">
        and company.city_code = #{cityCode}
      </if>
    order by company.create_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.school.classinfo.model.CustomerCompany" useGeneratedKeys="true" keyProperty="id">
    insert into customer_company (id, tenant_id, name, 
      province_code, province_name, city_code, 
      city_name, address, category_id, 
      social_code, business_license, contact, 
      contact_number, email, fax, 
      department, position, create_time, 
      create_by, create_name, update_time, 
      update_by, update_name)
    values (#{id,jdbcType=INTEGER}, #{tenantId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{cityName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{socialCode,jdbcType=INTEGER}, #{businessLicense,jdbcType=INTEGER}, #{contact,jdbcType=VARCHAR}, 
      #{contactNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{createBy,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.school.classinfo.model.CustomerCompany">
    insert into customer_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="provinceName != null">
        province_name,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="socialCode != null">
        social_code,
      </if>
      <if test="businessLicense != null">
        business_license,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="contactNumber != null">
        contact_number,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateName != null">
        update_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null">
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="socialCode != null">
        #{socialCode,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.school.classinfo.model.CustomerCompany">
    update customer_company
    <set>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null">
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="socialCode != null">
        social_code = #{socialCode,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        contact_number = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updatePath" parameterType="cn.com.school.classinfo.model.CustomerCompany">
    update customer_company
    set business_license = #{businessLicense},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_name = #{updateName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="logicDelete" parameterType="cn.com.school.classinfo.model.CustomerCompany">
    update customer_company
    set del = 1,
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_name = #{updateName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>