<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.school.classinfo.mapper.EvaluationObjectionMapper">
    <resultMap id="BaseResultMap" type="cn.com.school.classinfo.model.EvaluationObjection">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="companyId" column="company_id" jdbcType="INTEGER"/>
        <result property="organizationId" column="organization_id" jdbcType="INTEGER"/>
        <result property="evalId" column="eval_id" jdbcType="INTEGER"/>
        <result property="evalType" column="eval_type" jdbcType="INTEGER"/>
        <result property="evalCode" column="eval_code" jdbcType="TIMESTAMP"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="cityName" column="city_name" jdbcType="TIMESTAMP"/>
        <result property="haName" column="ha_name" jdbcType="TIMESTAMP"/>
        <result property="bldgArea" column="bldg_area" jdbcType="FLOAT"/>
        <result property="totalPrice" column="total_price" jdbcType="FLOAT"/>
        <result property="evalDate" column="eval_date" jdbcType="TIMESTAMP"/>
        <result property="actualPrice" column="actual_price" jdbcType="FLOAT"/>
        <result property="objectionTime" column="objection_time" jdbcType="TIMESTAMP"/>
        <result property="objectionReason" column="objection_reason" jdbcType="VARCHAR"/>
        <result property="reply" column="reply" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createName" column="create_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateName" column="update_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
      id,tenant_id,company_id,organization_id,eval_id,eval_type,eval_code,state,city_name,ha_name,bldg_area,total_price,eval_date,
      actual_price,objection_time,objection_reason,reply,create_time,create_by,create_name,update_time,update_by,update_name
    </sql>
    
    <sql id="Part_Column_List">
      id,tenant_id,company_id,organization_id,eval_id,eval_type,eval_code,state,city_name,ha_name,bldg_area,total_price,eval_date,
      actual_price,objection_time,objection_reason,reply
    </sql>

    <insert id="insert" parameterType="cn.com.school.classinfo.model.EvaluationObjection" useGeneratedKeys="true" keyProperty="id">
        insert into evaluation_objection(
          tenant_id, company_id, organization_id, eval_id, eval_type, eval_code, state, city_name, ha_name, bldg_area, total_price,
          eval_date, actual_price, objection_time, objection_reason, reply,
          create_time, create_by, create_name, update_time, update_by, update_name) 
        values(
          #{tenantId},#{companyId},#{organizationId},#{evalId}, #{evalType}, #{evalCode}, #{state}, #{cityName}, #{haName}, #{bldgArea}, #{totalPrice},
          #{evalDate}, #{actualPrice}, #{objectionTime}, #{objectionReason}, #{reply}, 
          now(), #{createBy}, #{createName}, now(), #{updateBy}, #{updateName}
        )
    </insert>

    <select id="selectByQuery" resultMap="BaseResultMap" parameterType="cn.com.school.classinfo.common.query.ObjectionQuery">
        select
          <include refid="Part_Column_List"/>
        from evaluation_objection
        where id = #{id}
        and update_by = #{loginUser}
    </select>

    <select id="selectListByQuery" resultMap="BaseResultMap" parameterType="cn.com.school.classinfo.common.query.ObjectionQuery">
        select
          <include refid="Part_Column_List"/>
        from evaluation_objection
        <trim prefix='WHERE' prefixOverrides='AND |OR'>
           <if test='city != null'>
                     AND city_name LIKE CONCAT('%',#{city},'%')
               </if>
           <if test='ha != null'>
                     AND ha_name LIKE CONCAT('%',#{ha},'%')
               </if>
           <if test='state != null'>
                     AND state = #{state}
               </if>
           <if test='beginDate != null'>
                   <![CDATA[ AND DATE_FORMAT(objection_time, '%Y-%m-%d') >= DATE_FORMAT(#{beginDate}, '%Y-%m-%d')]]>
               </if>
           <if test='endDate != null'>
                   <![CDATA[ AND DATE_FORMAT(objection_time, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')]]>
               </if>
           AND update_by = #{loginUser}
           AND company_id = #{companyId}
        </trim>
    </select>

</mapper>