<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.school.classinfo.mapper.RiskCoefficientMapper">
  <resultMap id="BaseResultMap" type="cn.com.school.classinfo.model.SysRiskCoefficient">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tenant_id" jdbcType="INTEGER" property="tenantId" />
    <result property="organizationId" column="organization_id" jdbcType="INTEGER"/>
    <result property="provinceCode" column="province_code" jdbcType="VARCHAR"/>
    <result property="provinceName" column="province_name" jdbcType="VARCHAR"/>
    <result property="cityCode" column="city_code" jdbcType="VARCHAR"/>
    <result property="cityName" column="city_name" jdbcType="VARCHAR"/>
    <result property="distCode" column="dist_code" jdbcType="VARCHAR"/>
    <result property="distName" column="dist_name" jdbcType="VARCHAR"/>
    <result property="businessId" column="business_id" jdbcType="INTEGER"/>
    <result property="businessName" column="business_name" jdbcType="VARCHAR"/>
    <result property="priceCoefficient" column="price_coefficient" jdbcType="FLOAT"/>
    <result property="del" column="del" jdbcType="INTEGER"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
    <result property="createName" column="create_name" jdbcType="VARCHAR"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    <result property="updateName" column="update_name" jdbcType="VARCHAR"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, tenant_id, organization_id, province_code, province_name, city_code, city_name, dist_code,
    dist_name, price_coefficient, create_time, create_by,
    create_name, update_time, update_by, update_name
  </sql>

  <sql id="Ext_Column_List">
    src.id, src.tenant_id, src.organization_id, src.province_code, src.province_name, src.city_code,
    src.city_name, src.dist_code,src.dist_name,
    (select
      GROUP_CONCAT(sbm.id)
      from sys_risk_business srb
      join `sys_business_manage` sbm
      on srb.business_id = sbm.id
      where sbm.del = 0
      and srb.risk_id = src.id
    ) business_id,
    (select
      GROUP_CONCAT(sbm.business_name)
      from sys_risk_business srb
      join `sys_business_manage` sbm
      on srb.business_id = sbm.id
      where sbm.del = 0
      and srb.risk_id = src.id
    ) business_name,
    src.price_coefficient, src.create_time, src.create_by,
    src.create_name, src.update_time, src.update_by, src.update_name
  </sql>
  
  <insert id="insert" parameterType="cn.com.school.classinfo.model.SysRiskCoefficient" useGeneratedKeys="true" keyProperty="id">
    insert into sys_risk_coefficient(
        tenant_id, company_id, organization_id, province_code, province_name, city_code, city_name, dist_code,
        dist_name, price_coefficient, create_time, create_by,
        create_name, update_time, update_by, update_name
    ) values (
        #{tenantId}, #{companyId}, #{organizationId}, #{provinceCode}, #{provinceName}, #{cityCode}, #{cityName},
        #{distCode}, #{distName}, #{priceCoefficient}, now(), #{createBy},
        #{createName}, now(), #{updateBy}, #{updateName}
    )
  </insert>
  
  <update id="update" parameterType="cn.com.school.classinfo.model.SysRiskCoefficient">
    update sys_risk_coefficient set
        province_code = #{provinceCode},
        province_name = #{provinceName},
        city_code = #{cityCode},
        city_name = #{cityName},
        dist_code = #{distCode},
        dist_name = #{distName},
        price_coefficient = #{priceCoefficient},
        update_time = now(),
        update_by = #{updateBy},
        update_name = #{updateName} 
    where id = #{id}
  </update>
  
  <update id="delete" parameterType="cn.com.school.classinfo.model.SysRiskCoefficient">
    update sys_risk_coefficient set
        del = 1,
        update_time = now(),
        update_by = #{updateBy},
        update_name = #{updateName} 
    where id = #{id}
  </update>
  
  <select id="selectListByQuery" parameterType="cn.com.school.classinfo.common.query.RiskQuery" resultMap="BaseResultMap">
    select 
      <include refid="Ext_Column_List" />
    from
      sys_risk_coefficient src
    where src.del = 0
      AND company_id = #{companyId}
      <if test='provinceCode != null'>
          AND src.province_code = #{provinceCode}
    </if>
    <if test='cityCode != null'>
          AND src.city_code = #{cityCode}
    </if>
    <if test='distCode != null'>
          AND src.dist_code = #{distCode}
    </if>
    <if test='businessName != null'>
          AND src.id = (select srb.risk_id from
          sys_risk_business srb
          join sys_business_manage sbm
          on srb.business_id = sbm.id
          where sbm.business_name = #{businessName})
    </if>
    <if test='coefficientMin != null'>
        <![CDATA[ AND src.price_coefficient >= #{coefficientMin}]]>
    </if>
    <if test='coefficientMax != null'>
        <![CDATA[ AND src.price_coefficient <= #{coefficientMax}]]>
    </if>
    <if test='beginDate != null'>
        <![CDATA[ AND DATE_FORMAT(src.update_time, '%Y-%m-%d') >= DATE_FORMAT(#{beginDate}, '%Y-%m-%d')]]>
    </if>
    <if test='endDate != null'>
        <![CDATA[ AND DATE_FORMAT(src.update_time, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')]]>
    </if>
  </select>
  <select id="selectByRegionQuery" parameterType="cn.com.school.classinfo.common.query.RiskQuery" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from
      sys_risk_coefficient src
    where src.del = 0
      AND src.company_id = #{companyId}
      AND src.province_code = #{provinceCode}
      <if test='cityCode != null'>
        AND src.city_code = #{cityCode}
      </if>
      <if test='distCode != null'>
        AND src.dist_code = #{distCode}
      </if>
      <if test='cityCode == null'>
        AND (src.city_code is null or src.city_code = '')
      </if>
      <if test='distCode == null'>
        AND (src.dist_code is null or src.dist_code = '')
      </if>
  </select>
  
</mapper>