<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.school.classinfo.mapper.ScMoveClassSlnMapper">
  <resultMap id="BaseResultMap" type="cn.com.school.classinfo.model.ScMoveClassSln">
    <id column="MCS_ID" jdbcType="INTEGER" property="mcsId" />
    <result column="S_ID" jdbcType="INTEGER" property="sId" />
    <result column="FCS_SUBJECT_NAME" jdbcType="VARCHAR" property="fcsSubjectName" />
    <result column="FCS_SUBJECT_CODE" jdbcType="VARCHAR" property="fcsSubjectCode" />
  </resultMap>
  <sql id="Base_Column_List">
    MCS_ID, S_ID, FCS_SUBJECT_NAME, FCS_SUBJECT_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_move_class_sln
    where MCS_ID = #{mcsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sc_move_class_sln
    where MCS_ID = #{mcsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.school.classinfo.model.ScMoveClassSln">
    insert into sc_move_class_sln (MCS_ID, S_ID, FCS_SUBJECT_NAME, 
      FCS_SUBJECT_CODE)
    values (#{mcsId,jdbcType=INTEGER}, #{sId,jdbcType=INTEGER}, #{fcsSubjectName,jdbcType=VARCHAR}, 
      #{fcsSubjectCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.school.classinfo.model.ScMoveClassSln">
    insert into sc_move_class_sln
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mcsId != null">
        MCS_ID,
      </if>
      <if test="sId != null">
        S_ID,
      </if>
      <if test="fcsSubjectName != null">
        FCS_SUBJECT_NAME,
      </if>
      <if test="fcsSubjectCode != null">
        FCS_SUBJECT_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mcsId != null">
        #{mcsId,jdbcType=INTEGER},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="fcsSubjectName != null">
        #{fcsSubjectName,jdbcType=VARCHAR},
      </if>
      <if test="fcsSubjectCode != null">
        #{fcsSubjectCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.school.classinfo.model.ScMoveClassSln">
    update sc_move_class_sln
    <set>
      <if test="sId != null">
        S_ID = #{sId,jdbcType=INTEGER},
      </if>
      <if test="fcsSubjectName != null">
        FCS_SUBJECT_NAME = #{fcsSubjectName,jdbcType=VARCHAR},
      </if>
      <if test="fcsSubjectCode != null">
        FCS_SUBJECT_CODE = #{fcsSubjectCode,jdbcType=VARCHAR},
      </if>
    </set>
    where MCS_ID = #{mcsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.school.classinfo.model.ScMoveClassSln">
    update sc_move_class_sln
    set S_ID = #{sId,jdbcType=INTEGER},
      FCS_SUBJECT_NAME = #{fcsSubjectName,jdbcType=VARCHAR},
      FCS_SUBJECT_CODE = #{fcsSubjectCode,jdbcType=VARCHAR}
    where MCS_ID = #{mcsId,jdbcType=INTEGER}
  </update>
</mapper>