<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.school.classinfo.mapper.ScStudentInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.school.classinfo.model.ScStudentInfo">
    <id column="STU_ID" jdbcType="INTEGER" property="stuId" />
    <result column="stu_no" jdbcType="VARCHAR" property="stuNo" />
    <result column="stu_sex" jdbcType="VARCHAR" property="stuSex" />
    <result column="stu_phone" jdbcType="VARCHAR" property="stuPhone" />
    <result column="stu_PUB_ID" jdbcType="INTEGER" property="stuPubId" />
    <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
    <result column="stu_birthday" jdbcType="DATE" property="stuBirthday" />
  </resultMap>
  <sql id="Base_Column_List">
    STU_ID, stu_no, stu_sex, stu_phone, stu_PUB_ID, stu_name, stu_birthday
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_student_info
    where STU_ID = #{stuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sc_student_info
    where STU_ID = #{stuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.school.classinfo.model.ScStudentInfo">
    insert into sc_student_info (STU_ID, stu_no, stu_sex, 
      stu_phone, stu_PUB_ID, stu_name, 
      stu_birthday)
    values (#{stuId,jdbcType=INTEGER}, #{stuNo,jdbcType=VARCHAR}, #{stuSex,jdbcType=VARCHAR}, 
      #{stuPhone,jdbcType=VARCHAR}, #{stuPubId,jdbcType=INTEGER}, #{stuName,jdbcType=VARCHAR}, 
      #{stuBirthday,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.school.classinfo.model.ScStudentInfo">
    insert into sc_student_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        STU_ID,
      </if>
      <if test="stuNo != null">
        stu_no,
      </if>
      <if test="stuSex != null">
        stu_sex,
      </if>
      <if test="stuPhone != null">
        stu_phone,
      </if>
      <if test="stuPubId != null">
        stu_PUB_ID,
      </if>
      <if test="stuName != null">
        stu_name,
      </if>
      <if test="stuBirthday != null">
        stu_birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="stuNo != null">
        #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="stuSex != null">
        #{stuSex,jdbcType=VARCHAR},
      </if>
      <if test="stuPhone != null">
        #{stuPhone,jdbcType=VARCHAR},
      </if>
      <if test="stuPubId != null">
        #{stuPubId,jdbcType=INTEGER},
      </if>
      <if test="stuName != null">
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="stuBirthday != null">
        #{stuBirthday,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.school.classinfo.model.ScStudentInfo">
    update sc_student_info
    <set>
      <if test="stuNo != null">
        stu_no = #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="stuSex != null">
        stu_sex = #{stuSex,jdbcType=VARCHAR},
      </if>
      <if test="stuPhone != null">
        stu_phone = #{stuPhone,jdbcType=VARCHAR},
      </if>
      <if test="stuPubId != null">
        stu_PUB_ID = #{stuPubId,jdbcType=INTEGER},
      </if>
      <if test="stuName != null">
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="stuBirthday != null">
        stu_birthday = #{stuBirthday,jdbcType=DATE},
      </if>
    </set>
    where STU_ID = #{stuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.school.classinfo.model.ScStudentInfo">
    update sc_student_info
    set stu_no = #{stuNo,jdbcType=VARCHAR},
      stu_sex = #{stuSex,jdbcType=VARCHAR},
      stu_phone = #{stuPhone,jdbcType=VARCHAR},
      stu_PUB_ID = #{stuPubId,jdbcType=INTEGER},
      stu_name = #{stuName,jdbcType=VARCHAR},
      stu_birthday = #{stuBirthday,jdbcType=DATE}
    where STU_ID = #{stuId,jdbcType=INTEGER}
  </update>
  
  <insert id="batchInsert" parameterType="cn.com.school.classinfo.model.ScStudentInfo" useGeneratedKeys="true"
            keyProperty="stuId">
      insert into sc_student_info (stu_no, stu_sex, 
      stu_phone, stu_PUB_ID, stu_name, 
      stu_birthday)
      values
      <foreach collection='list' item='item' separator=','>
        (
        #{item.stuNo,jdbcType=VARCHAR}, #{item.stuSex,jdbcType=VARCHAR}, 
        #{item.stuPhone,jdbcType=VARCHAR}, #{item.stuPubId,jdbcType=INTEGER}, #{item.stuName,jdbcType=VARCHAR}, 
        #{item.stuBirthday,jdbcType=DATE}
        )
      </foreach>
  </insert>
</mapper>