<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.school.classinfo.mapper.SysRiskBusinessMapper">
  <resultMap id="BaseResultMap" type="cn.com.school.classinfo.model.SysRiskBusiness">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="risk_id" jdbcType="INTEGER" property="riskId" />
    <result column="business_id" jdbcType="INTEGER" property="businessId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, risk_id, business_id, create_time, create_by, create_name, update_time, update_by, 
    update_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_risk_business
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByRiskId" parameterType="java.lang.Integer">
    delete from sys_risk_business
    where risk_id = #{riskId,jdbcType=INTEGER}
  </delete>
  <insert id="batchInsert" parameterType="cn.com.school.classinfo.model.SysRiskBusiness">
    insert into sys_risk_business (
      risk_id, business_id,
      create_time, create_by, create_name, 
      update_time, update_by, update_name
      )
    values
      <foreach collection ='list' item='rb' separator =','>
        (
        #{rb.riskId,jdbcType=INTEGER}, #{rb.businessId,jdbcType=INTEGER},
        #{rb.createTime,jdbcType=DATE}, #{rb.createBy,jdbcType=VARCHAR}, #{rb.createName,jdbcType=VARCHAR},
        #{rb.updateTime,jdbcType=DATE}, #{rb.updateBy,jdbcType=VARCHAR}, #{rb.updateName,jdbcType=VARCHAR}
        )
      </foreach>
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.school.classinfo.model.SysRiskBusiness">
    update sys_risk_business
    set risk_id = #{riskId,jdbcType=INTEGER},
      business_id = #{businessId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=DATE},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_name = #{updateName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>