<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.school.classinfo.mapper.SysResourceMapper" >
  <resultMap id="BaseResultMap" type="cn.com.school.classinfo.model.SysResource" >
    <id property="id" column="id" jdbcType="INTEGER" />
    <result property="name" column="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result property="status" column="status" jdbcType="INTEGER" />
    <result property="sort" column="sort" jdbcType="INTEGER" />
    <result property="organizationId" column="organization_id" jdbcType="INTEGER" />
    <result property="parentId" column="parent_id" jdbcType="INTEGER" />
    <result property="url" column="url" jdbcType="VARCHAR" />
    <result property="resourceType" column="resource_type" jdbcType="INTEGER" />
    <result property="createdTime" column="created_time" jdbcType="TIMESTAMP" />
    <result property="createdBy" column="created_by" jdbcType="VARCHAR" />
    <result property="createdIp" column="created_ip" jdbcType="VARCHAR" />
    <result property="updatedBy" column="updated_by" jdbcType="VARCHAR" />
    <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    <result property="updatedIp" column="updated_ip" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id,name,level,sort,parent_id,url,created_time,created_by,created_ip,updated_by,updated_time,updated_ip,resource_type,status
  </sql>
  
  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="cn.com.school.classinfo.model.SysResource" >
    select 
    <include refid="Base_Column_List" />
    from sys_resource
  </select>
  
  <select id="selectNeedAuthcs" resultMap="BaseResultMap" parameterType="cn.com.school.classinfo.model.SysResource" >
    select b.url url,a.name name,a.code code
    from sys_permission a
    inner join sys_resource b
    on a.resource_id = b.id
    where url<![CDATA[<>]]>''
  </select>
  
  <select id="selectUserPermissions" resultMap="BaseResultMap" parameterType="java.lang.String" >
  select sr.id, sr.parent_id, sr.level, sp.`name`,sp.`code`,sr.url from sys_permission sp
	inner join sys_role_permission srp on sp.id = srp.permission_id
	inner join sys_user_role sur on srp.role_id = sur.role_id
	inner join sys_user su on su.id = sur.user_id and su.login_user = #{loginUser,jdbcType=VARCHAR}
	inner join sys_resource sr on sp.resource_id = sr.id
  </select>
  
  <select id="selectUserPermissionsByUserType" resultMap="BaseResultMap">
  select sr.id, sr.parent_id, sr.level, sp.`name`,sp.`code`,sr.url from sys_permission sp
    inner join sys_role_permission srp on sp.id = srp.permission_id
    inner join sys_user_role sur on srp.role_id = sur.role_id
    inner join sys_user su on su.id = sur.user_id and su.login_user = #{loginUser,jdbcType=VARCHAR}
    and su.user_type = #{userType,jdbcType=INTEGER}
    inner join sys_resource sr on sp.resource_id = sr.id
  </select>
  
 <select id="selectNeedDistributeReses" resultMap="BaseResultMap">
 select sr.name,spion.`code` url,
	sr.`level` level,sr.parent_id,sr.sort,spion.id as id from sys_permission as spion
	inner join sys_resource as sr on spion.resource_id = sr.id
	and sr.`status` = 0 and spion.`status` = 0  
	order by sr.parent_id asc ,sr.sort asc 
  </select>
  
 <select id="selectNeedDistributeResesByResType" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
 select sr.name,spion.`code` url,
    sr.`level` level,sr.parent_id,sr.sort,spion.id as id from sys_permission as spion
    inner join sys_resource as sr on spion.resource_id = sr.id  and sr.resource_type=  #{resType,jdbcType=INTEGER}
    and spion.perm_type = #{resType,jdbcType=INTEGER} and sr.`status` = 0 and spion.`status` = 0  
    order by sr.parent_id asc ,sr.sort asc 
  </select>
  
  <select id="selectCustomerUserCanPermissions" resultMap="BaseResultMap">
  select 
      sr.name,sp.`code` url,sr.level level,sr.parent_id,sr.sort,sp.id as id
    from sys_permission sp
    inner join sys_role_permission srp on sp.id = srp.permission_id
    inner join sys_user_role sur on srp.role_id = sur.role_id
    inner join sys_user su on su.id = sur.user_id and su.login_user = #{loginUser,jdbcType=VARCHAR}
    and su.user_type = #{userType,jdbcType=INTEGER}
    inner join sys_resource sr on sp.resource_id = sr.id
  </select>
  
</mapper>
