<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.school.classinfo.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="cn.com.school.classinfo.model.SysUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result property="tenantId" column="tenant_id" jdbcType="INTEGER" />
    <result property="userName" column="user_name" jdbcType="VARCHAR" />
    <result property="mobilePhone" column="mobile_phone" jdbcType="VARCHAR" />
    <result property="email" column="email" jdbcType="VARCHAR" />
    <result property="loginUser" column="login_user" jdbcType="VARCHAR" />
    <result property="password" column="password" jdbcType="VARCHAR" />
    <result property="salt" column="salt" jdbcType="VARCHAR" />
    <result property="status" column="status" jdbcType="INTEGER" />
    <result property="organizationId" column="organization_id" jdbcType="INTEGER" />
    <result property="customerCompanyId" column="customer_company_id" jdbcType="INTEGER" />
    <result property="userType" column="user_type" jdbcType="INTEGER" />
    <result property="remark" column="remark" jdbcType="VARCHAR" />
    <result property="createdTime" column="created_time" jdbcType="TIMESTAMP" />
    <result property="createdBy" column="created_by" jdbcType="VARCHAR" />
    <result property="createdIp" column="created_ip" jdbcType="VARCHAR" />
    <result property="updatedBy" column="updated_by" jdbcType="VARCHAR" />
    <result property="updatedName" column="updated_name" jdbcType="VARCHAR" />
    <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP" />
    <result property="updatedIp" column="updated_ip" jdbcType="VARCHAR" />
    <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP" />
    <result property="lastLoginIp" column="last_login_ip" jdbcType="VARCHAR" />
    <result property="currentLoginTime" column="current_login_time" jdbcType="TIMESTAMP" />
    <result property="currentLoginIp" column="current_login_ip" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="UserListResultMap" type="cn.com.school.classinfo.vo.SysUserVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result property="tenantId" column="tenant_id" jdbcType="INTEGER" />
    <result property="userName" column="user_name" jdbcType="VARCHAR" />
    <result property="mobilePhone" column="mobile_phone" jdbcType="VARCHAR" />
    <result property="email" column="email" jdbcType="VARCHAR" />
    <result property="loginUser" column="login_user" jdbcType="VARCHAR" />
    <result property="password" column="password" jdbcType="VARCHAR" />
    <result property="salt" column="salt" jdbcType="VARCHAR" />
    <result property="status" column="status" jdbcType="INTEGER" />
    <result property="organizationId" column="organization_id" jdbcType="INTEGER" />
    <result property="customerCompanyId" column="customer_company_id" jdbcType="INTEGER" />
    <result property="userType" column="user_type" jdbcType="INTEGER" />
    <result property="remark" column="remark" jdbcType="VARCHAR" />
    <result property="createdTime" column="created_time" jdbcType="TIMESTAMP" />
    <result property="createdBy" column="created_by" jdbcType="VARCHAR" />
    <result property="createdIp" column="created_ip" jdbcType="VARCHAR" />
    <result property="updatedBy" column="updated_by" jdbcType="VARCHAR" />
    <result property="updatedName" column="updated_name" jdbcType="VARCHAR" />
    <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP" />
    <result property="updatedIp" column="updated_ip" jdbcType="VARCHAR" />
    <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP" />
    <result property="lastLoginIp" column="last_login_ip" jdbcType="VARCHAR" />
    <result property="currentLoginTime" column="current_login_time" jdbcType="TIMESTAMP" />
    <result property="currentLoginIp" column="current_login_ip" jdbcType="VARCHAR" />
    <result property="roleNames" column="roleNames" jdbcType="VARCHAR" />
    <result property="customerCompanyName" column="customerCompanyName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,tenant_id,mobile_phone,email,password,status,organization_id,customer_company_id
    ,remark,created_time,created_by,created_ip,last_login_time,user_type
    ,last_login_ip,updated_by,updated_time,updated_ip,login_user,user_name,salt
    ,current_login_time,current_login_ip,updated_name
  </sql>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id= #{id,jdbcType=INTEGER}
    and status = 0
  </select>
  
  <select id="selectAllStatusUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id= #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByQuery" resultMap="UserListResultMap" parameterType="cn.com.school.classinfo.common.query.UserQuery" >
    select
    <include refid="Base_Column_List" />,
     (select GROUP_CONCAT(sr.name) from sys_user_role sur join sys_role sr on sur.role_id = sr.id where sur.user_id = u.id) roleNames
    from sys_user u
    where u.status BETWEEN 0 and 1
      <if test="loginUser != null">
        and login_user like CONCAT('%',#{loginUser},'%')
      </if>
      <if test="userName != null">
        and user_name like CONCAT('%',#{userName},'%')
      </if>
      <if test="roleId != null">
        and id in (select user_id from sys_user_role where role_id = #{roleId})
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="userType != null">
        and user_type = #{userType}
      </if>
      and organization_id in
      <foreach collection="organizationIds" item="orgId" separator="," open="(" close=")">
        #{orgId}
      </foreach>
  </select>
  
  <select id="selectTenantUsersByQuery" resultMap="UserListResultMap" parameterType="cn.com.school.classinfo.common.query.UserQuery" >
    select
    <include refid="Base_Column_List" />,
     (select GROUP_CONCAT(sr.name) from sys_user_role sur join sys_role sr on sur.role_id = sr.id where sur.user_id = u.id) roleNames
    from sys_user u
    where u.status BETWEEN 0 and 1
      <if test="loginUser != null">
        and u.login_user like CONCAT('%',#{loginUser},'%')
      </if>
      <if test="userName != null">
        and u.user_name like CONCAT('%',#{userName},'%')
      </if>
      <if test="roleId != null">
        and u.id in (select user_id from sys_user_role where role_id = #{roleId})
      </if>
      <if test="status != null">
        and u.status = #{status}
      </if>
      <if test="tenantId != null">
        and u.tenant_id = #{tenantId}
      </if>
       <if test="userType != null">
        and u.user_type = #{userType}
      </if>
      order by u.updated_time desc
  </select>
  
  <select id="selectCustomerUsersByQuery" resultMap="UserListResultMap" parameterType="cn.com.school.classinfo.common.query.UserQuery" >
    select
    <include refid="Base_Column_List" />,
     (select GROUP_CONCAT(sr.name) from sys_user_role sur join sys_role sr on sur.role_id = sr.id where sur.user_id = u.id) roleNames
     ,
     (select cc.name from customer_company cc where u.customer_company_id = cc.id) customerCompanyName
    from sys_user u
    where u.status BETWEEN 0 and 1
      <if test="loginUser != null">
        and u.login_user like CONCAT('%',#{loginUser},'%')
      </if>
      <if test="userName != null">
        and u.user_name like CONCAT('%',#{userName},'%')
      </if>
      <if test="roleId != null">
        and u.id in (select user_id from sys_user_role where role_id = #{roleId})
      </if>
      <if test="status != null">
        and u.status = #{status}
      </if>
      <if test="tenantId != null">
        and u.tenant_id = #{tenantId}
      </if>
       <if test="userType != null">
        and u.user_type = #{userType}
      </if>
      <if test="customerCompanyName != null">
        and u.customer_company_id in (select id from customer_company where name like CONCAT('%',#{customerCompanyName},'%'))
      </if>
      order by u.updated_time desc
  </select>
  
<insert id="insert" parameterType="cn.com.school.classinfo.model.SysUser" useGeneratedKeys="true" keyProperty="id">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="loginUser != null" >
        login_user,
      </if>
      <if test="password != null" >
        password,
      </if>
       <if test="salt != null" >
        salt,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="customerCompanyId != null" >
        customer_company_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdIp != null" >
        created_ip,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedName != null" >
        updated_name,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="updatedIp != null" >
        updated_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="loginUser != null" >
        #{loginUser,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="customerCompanyId != null" >
        #{customerCompanyId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdIp != null" >
        #{createdIp,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedName != null" >
        #{updatedName,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedIp != null" >
        #{updatedIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
   <update id="updateByLoginUser" parameterType="cn.com.school.classinfo.model.SysUser" >
    update sys_user
    <set >
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null" >
        organization_id = #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedName != null" >
        updated_name = #{updatedName,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedIp != null" >
        updated_ip = #{updatedIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="currentLoginTime != null" >
        current_login_time = #{currentLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="currentLoginIp != null" >
        current_login_ip = #{currentLoginIp,jdbcType=VARCHAR},
      </if>
    </set>
    where login_user = #{loginUser,jdbcType=VARCHAR} 
          and user_type = #{userType,jdbcType=INTEGER} 
  </update>
  
   <update id="updateByLoginUserAndCId" parameterType="cn.com.school.classinfo.model.SysUser" >
    update sys_user
    <set >
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null" >
        organization_id = #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedName != null" >
        updated_name = #{updatedName,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedIp != null" >
        updated_ip = #{updatedIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="currentLoginTime != null" >
        current_login_time = #{currentLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="currentLoginIp != null" >
        current_login_ip = #{currentLoginIp,jdbcType=VARCHAR},
      </if>
    </set>
    where login_user = #{loginUser,jdbcType=VARCHAR} 
          and customer_company_id =  #{customerCompanyId,jdbcType=INTEGER}
  </update>
  
   <update id="updateStatusById" parameterType="java.lang.Integer" >
    update sys_user set status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateStatusByOrgId" parameterType="java.lang.Integer" >
    update sys_user set status = #{status,jdbcType=INTEGER}
    where organization_id = #{organizationId,jdbcType=INTEGER}
  </update>
  
  <select id="findUserByLoginUser" resultMap="BaseResultMap" parameterType="java.lang.String"  >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    <where>
      <if test="loginUser != null" >
        and login_user = #{loginUser,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
  <select id="findUserByLoginUserAndUserType" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    <where>
      <if test="loginUser != null" >
        and login_user = #{loginUser,jdbcType=VARCHAR}
      </if>
      <if test="userType != null" >
        and user_type = #{userType,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  
   <select id="findUserByLoginUserAndUTypeAndTId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    <where>
      <if test="loginUser != null" >
        and login_user = #{loginUser,jdbcType=VARCHAR}
      </if>
      <if test="userType != null" >
        and user_type = #{userType,jdbcType=INTEGER}
      </if>
      <if test="tenantId != null" >
        and tenant_id = #{tenantId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  
    <select id="findUserByLoginUserAndCId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    <where>
      <if test="loginUser != null" >
        and login_user = #{loginUser,jdbcType=VARCHAR}
      </if>
      <if test="customerCompanyId != null" >
        and customer_company_id = #{customerCompanyId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  
  <select id="findUserByCIdAndUserType" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    <where>
      <if test="userType != null" >
        and user_type = #{userType,jdbcType=INTEGER}
      </if>
      <if test="customerCompanyId != null" >
        and customer_company_id = #{customerCompanyId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  
</mapper>