<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.school.classinfo.mapper.SysWebsiteConfigMapper">
  <resultMap id="BaseResultMap" type="cn.com.school.classinfo.model.SysWebsiteConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tenant_id" jdbcType="INTEGER" property="tenantId" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="theme_color" jdbcType="VARCHAR" property="themeColor" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="logo_path" jdbcType="VARCHAR" property="logoPath" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="company_profile" jdbcType="VARCHAR" property="companyProfile" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="background_path" jdbcType="VARCHAR" property="backgroundPath" />
    <result column="config_type" jdbcType="BIT" property="configType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tenant_id, organization_id, type, domain, theme_color, company_name, logo_path, 
    contact, email, address, company_profile, product_name, background_path, config_type, 
    create_time, create_by, create_name, update_time, update_by, update_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_website_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByDomain" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_website_config
    where domain = #{domain} and type = #{type}
  </select>
  <select id="selectByTenantId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_website_config
    where tenant_id = #{tenantId} and type = #{type}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_website_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.school.classinfo.model.SysWebsiteConfig">
    insert into sys_website_config (tenant_id, organization_id,
      type, domain, theme_color, 
      company_name, logo_path, contact, 
      email, address, company_profile, 
      product_name, background_path, config_type, 
      create_time, create_by, create_name, 
      update_time, update_by, update_name
      )
    values (#{tenantId,jdbcType=INTEGER}, #{organizationId,jdbcType=INTEGER},
      #{type,jdbcType=BIT}, #{domain,jdbcType=VARCHAR}, #{themeColor,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{logoPath,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{companyProfile,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{backgroundPath,jdbcType=VARCHAR}, #{configType,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.school.classinfo.model.SysWebsiteConfig">
    insert into sys_website_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="organizationId != null">
        organization_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="domain != null">
        domain,
      </if>
      <if test="themeColor != null">
        theme_color,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="logoPath != null">
        logo_path,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="companyProfile != null">
        company_profile,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="backgroundPath != null">
        background_path,
      </if>
      <if test="configType != null">
        config_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateName != null">
        update_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="themeColor != null">
        #{themeColor,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="logoPath != null">
        #{logoPath,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyProfile != null">
        #{companyProfile,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="backgroundPath != null">
        #{backgroundPath,jdbcType=VARCHAR},
      </if>
      <if test="configType != null">
        #{configType,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.school.classinfo.model.SysWebsiteConfig">
    update sys_website_config
    <set>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null">
        organization_id = #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIT},
      </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="themeColor != null">
        theme_color = #{themeColor,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="logoPath != null">
        logo_path = #{logoPath,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyProfile != null">
        company_profile = #{companyProfile,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="backgroundPath != null">
        background_path = #{backgroundPath,jdbcType=VARCHAR},
      </if>
      <if test="configType != null">
        config_type = #{configType,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.school.classinfo.model.SysWebsiteConfig">
    update sys_website_config
    set
        theme_color = #{themeColor},
        company_name = #{companyName},
        contact = #{contact},
        email = #{email},
        address = #{address},
        company_profile = #{companyProfile},
        product_name = #{productName},
        <if test='logoPath != null'>
             logo_path = #{logoPath},
        </if>
        <if test='backgroundPath != null'>
             background_path = #{backgroundPath},
        </if>
        update_time = now(),
        update_by = #{updateBy},
        update_name = #{updateName}
    where id = #{id}
  </update>
  <update id="updatePathByPrimaryKey" parameterType="cn.com.school.classinfo.model.SysWebsiteConfig">
    update sys_website_config
    set
        <if test='logoPath == null'>
             logo_path = null,
        </if>
        <if test='backgroundPath == null'>
             background_path = null,
        </if>
        update_time = now(),
        update_by = #{updateBy},
        update_name = #{updateName}
    where id = #{id}
  </update>
</mapper>